@import "./styles/variables";

body {
  background: $lightModeBg;
}

// structure
.header-container,
.main-container {
  max-width: 90%;
  margin: auto;
}

.dark-mode {
  background: black;
  color: white;
}

// =============
// Header
// =============

header {
  padding: 1rem 0;
}

#toggle-theme {
  cursor: pointer;
}

//===============
//Seach Section
//===============

.search-icon {
  color: $lightModeInput;
  font-size: 25px;
  position: absolute;
  // margin-left: .5rem;
  left: 40px;
  top: 20px;
}

input {
  border: none;
  border-radius: 0.25rem;
  width: 80%;
  padding: 0.75rem 4rem;
  background: $white;
  box-shadow: 0 0 5px $lightModeInput;
  // color: $lightModeInput;

  &::placeholder {
    color: $lightModeInput;
  }
}

select {
  padding: 0.75rem 1rem;
  width: 60%;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px $lightModeInput;
  // color: $lightModeInput;
}

//===============
//Search Results
//===============

// .results-row {
//   height: auto;
// }
// INPUT SEARCH RESULTS STYLE
.input-search-results {
  width: 400px;
  border: 1px solid red;
  margin: auto;
}

.input-search-flag-img {
  width: 100%;
}

.country-info {
  // border: 3px solid red;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px $lightModeInput;

  img {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
  }

  .info-body {
    width: 80%;
    margin: 1rem auto 1rem;

    p {
      margin: 0;
    }
  }
}
