




$darkModeElements:  hsl(209, 23%, 22%);
$darkModeBg: hsl(207, 26%, 17%);

$lightModeText: hsl(200, 15%, 8%);
$lightModeBg: hsl(0, 0%, 98%);
$lightModeInput: hsl(0, 0%, 52%);

$white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

